name: Android CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: 'gradle' # Fixed 'cache' value

    - name: Set up Flutter
      uses: subosito/flutter-action@v2 # Use the latest version (check for updates)
      with:
        flutter-version: '3.0.4'
        channel: 'master' # Replace with your desired Flutter version        

    - name: get flutter
      run: |
        output=`flutter doctor -v`
        echo $output
        sudo snap install flutter --classic
        export PATH="$PATH:~/flutter/bin"

    - name: Build APK
      run: |
        chmod +x $GITHUB_WORKSPACE/android/gradlew
        $GITHUB_WORKSPACE/android/gradlew assembleDebug
        working-directory: ${{ github.workspace }}

    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: app
        path: app/build/outputs/apk/debug/app-debug.apk
